@inherits BooksBase

<h3>Książki</h3>

<div class="book-nav">
    <button @onclick="ShowAll">Wszystkie</button>
    <button @onclick="ShowAdultBooks">Dla dorosłych</button>
    <button @onclick="ShowKidBooks">Dla dzieci</button>
    <button @onclick="ShowAnthologies">Antologie</button>
</div>

@if (BooksToBeRendered != null)
{
    <div class="book-group">
    @foreach (var book in BooksToBeRendered)
    {
        <BookItem book="@book" />
    }
    </div>
}